@mixin border{
    border: 1px solid #171A5B;
}
// variables
$color:#171A5B;
$display:flex;
$flow:row wrap;
$full-width:100%;
$cursor:pointer;
$flow-mob:column wrap;
// 
body{
    color: $color;
    font-family: sans-serif;
}
.container{
    display: $display;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
}
header{
    border-bottom: 2px solid $color;
    display: $display;
    flex-flow: $flow;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 $full-width;
    padding-bottom: 20px;
}
header svg{
    height: 50px;
    margin-left: -45%;
    margin-right: -20%;
    margin-left: -5%;
    margin-top: 0.2%;
}
.search{
    width: 35%;
    height: 40px;
    background-color: rgba(23, 26, 91, 0.2);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 0.6%;
}
.search form {
    width: $full-width;
    height: 40px;
}
.search form input {
    z-index: 1;
    width: $full-width;
    height: $full-width;
    border-radius: 5px;
    @include border();
    background-color: rgba(23, 26, 91, 0.2);
    background-image: url(pics/search-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 100%;
    cursor: $cursor;
}
header .profile {
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 10%;
    background-color: white;
    margin-top: 0.6%;
    background-image: url(pics/profile-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: $cursor;
}
header .profile:hover {
    @include border();
    border-radius: 50px;
}
header .cart {
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 10%;
    background-color: white;
    margin-top: 0.6%;
    background-image: url(pics/cart-large-minimalistic-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: $full-width;
    cursor: $cursor;
}
header .cart:hover {
    @include border();
}
.path {
    flex: 1 1 $full-width;
    margin-top: 0.5%;
}
.path a {
    text-decoration: none;
    color: $color;
    cursor: $cursor;
}
.path a:hover {
    text-decoration: underline;
}
menu {
    flex: 1 1 $full-width;
    width: $full-width;
}
footer {
    flex: 1 1 $full-width;
    margin-top: 2.5%;
    display: $display;
    flex-flow: $flow;
    margin-bottom: 0;
}
footer .left-foot {
    flex: 1 1 30%;
    background-color: $color;
    color: white;
    font-size: 10pt;
}
footer .left-foot p:nth-child(2) {
    margin-left: 10%;
    margin-bottom: 5%;
}
footer .left-foot img:nth-child(3) {
    margin-left: 10%;
    margin-right: 10%;
    cursor: $cursor;
}
footer .left-foot img:nth-child(4) {
    margin-right: 10%;
    cursor: $cursor;
}
footer .left-foot img:nth-child(5) {
    cursor: $cursor;
}
footer .left-foot p:nth-child(6) {
    margin-left: 10%;
    margin-top: 5%;
}
footer .left-foot button {
    margin-left: 10%;
    width: 250px;
    height: 50px;
    background-color: rgba(181, 183, 234, 0.5);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
    cursor: $cursor;
}
footer .right-foot {
    flex: 1 1 60%;
    display: $display;
    flex-flow: $flow;
    background-color: #D9D9D9;
    color: black;
}
footer .right-foot .info {
    height: 90%;
    flex: 1 1 40%;
}
footer .right-foot .info p {
    cursor: $cursor;
    text-align: center;
    text-decoration: underline;
}
footer .right-foot .info p:nth-child(1) {
    margin-bottom: 7%;
    cursor: default;
}
footer .right-foot .important {
    height: 90%;
    flex: 1 1 40%;
}
footer .right-foot .important p {
    text-align: center;
    text-decoration: underline;
    cursor: $cursor;
}
footer .right-foot .important p:nth-child(1) {
    margin-bottom: 7%;
    cursor: default;
}
footer .right-foot span {
    flex: 1 1 $full-width;
    text-align: center;
}
footer svg {
    width: 50%;
    margin-top: 1%;
    margin-left: 1%;
}
@media (max-width:480px) {
    body {
        padding: 0;
        margin: 2%;
    }

    .container {
        flex-flow: $flow-mob;
    }

    header button {
        display: none;
    }
    header .search{
        flex: 1 1 $full-width;
        margin-left: 0;
        margin-top: 2%;
    }
    header svg {
        flex: 1 1 80%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-left: 2%;
    }

    header .ham-menu {
        display: block;
        flex: 1 1 10%;
    }

    footer .left-foot {
        flex: 1 1 50%;
    }

    footer .right-foot {
        flex: 1 1 30%;
        flex-flow: $flow-mob;
        height: 100%;
    }

    footer .left-foot img:nth-child(3) {
        margin-left: 5%;
    }

    footer .left-foot p:nth-child(6) {
        margin-top: 10%;
    }

    footer .left-foot img:nth-child(4) {
        margin-right: 5%;
    }

    footer .left-foot button {
        width: 150px;
        font-size: 16px;
        margin-bottom: 0;
        display: inline;
        margin-left: 15%;
        margin-top: 10%;
    }

    footer svg {
        width: 90%;
    }
}
/* for tablets */
@media (min-width:481px) and (max-width:1000px){
    
}