/* css file for common styles */
body {
    color: #171A5B;
    font-family: sans-serif;
    /* margin: 0; */
    margin-left: 0;
    margin-right: 0;
    transition: 0.3s ease-out;
    font-size:18px
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
}

header {
    border-bottom: 2px solid #171A5B;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 100%;
    /* height: 30px; */
}

.mobile-menu{
    display: none;
}
.menu-button{
    display: none;
}
header svg {

    height: 50px;
    margin-right: -20%;
    /* margin-left: -4%; */
    margin-top: 0.2%;
    margin-bottom: 1%;
}

.search {
    width: 35%;
    height: 40px;
    background-color: rgba(23, 26, 91, 0.2);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 0.6%;
    /* align-items:end; */
}

.search form {
    width: 100%;
    height: 40px;
}

.search form input {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgba(23, 26, 91, 0.2);
    background-image: url(pics/search-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 100%;
    cursor: pointer;
}

header .profile {
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 10%;
    background-color: white;
    margin-top: 0.6%;
    background-image: url(pics/profile-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

header .profile:hover {
    border: 1px solid #171A5B;
    border-radius: 50px;
}

header .cart {
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 6%;
    background-color: white;
    margin-top: 0.6%;
    background-image: url(pics/cart-large-minimalistic-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
header .theme{
    width: 45px;
    height: 45px;
    margin-top: 0.6%;
    margin-left: 4%;
    cursor: pointer;
    background-image: url(pics/moon-svgrepo-com\(1\).svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    border: none;
}
header .theme:hover{
    border: #171A5B 1px solid;
}

header .cart:hover {
    border: 1px solid #171A5B;
    /* border-radius: 20px; */
}

.path {
    flex: 1 1 100%;
    margin-top: 0.5%;
}

.path a {
    text-decoration: none;
    color: #171A5B;
    cursor: pointer;
}

.path a:hover {
    text-decoration: underline;
}

menu {
    flex: 1 1 100%;
    width: 100%;
    /* border: 1px solid; */
}

footer {
    flex: 1 1 100%;
    margin-top: 2.5%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
}

footer .left-foot {
    flex: 1 1 30%;
    background-color: #171A5B;
    color: white;
    font-size: 10pt;
}

footer .left-foot p:nth-child(2) {
    /* text-align: center; */
    margin-left: 10%;
    margin-bottom: 5%;
}

footer .left-foot img:nth-child(3) {
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

footer .left-foot img:nth-child(4) {
    margin-right: 10%;
    cursor: pointer;
}

footer .left-foot img:nth-child(5) {
    cursor: pointer;
}

footer .left-foot p:nth-child(6) {
    margin-left: 10%;
    margin-top: 5%;
}

footer .left-foot button {
    margin-left: 10%;
    width: 250px;
    height: 50px;
    background-color: rgba(181, 183, 234, 0.5);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
    cursor: pointer;
}

footer .right-foot {
    flex: 1 1 60%;
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid; */
    background-color: #D9D9D9;
    color: black;
}

footer .right-foot .info {
    height: 90%;
    flex: 1 1 40%;
}

footer .right-foot .info p {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}

footer .right-foot .info p:nth-child(1) {
    margin-bottom: 7%;
    cursor: default;
}

footer .right-foot .important {
    height: 90%;
    flex: 1 1 40%;
}

footer .right-foot .important p {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

footer .right-foot .important p:nth-child(1) {
    margin-bottom: 7%;
    cursor: default;
}

footer .right-foot span {
    flex: 1 1 100%;
    text-align: center;
}

footer svg {
    width: 50%;
    margin-top: 1%;
    margin-left: 1%;
}

/* style for mobile devices */
@media (max-width:480px) {
    body {
        padding: 0;
        margin: 1%;
    }
    menu{
        display: none;
    }
    .container {
        flex-flow: column wrap;
    }
    
    .mobile-menu{
        display: flex;
        flex-flow: column wrap;
        position: fixed;
        top: 0;
        left: 0; 
        width: 250px;
        height: 100%; 
        background-color: white;
        overflow-x: hidden;
        transition: 0.3s ease-in-out; 
        padding: 0;
        text-align: left;
        transform: translateY(-100%);
    }
    .mobile-menu ul{
        display: flex;
        flex-flow: row wrap;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 15%;
    }
    .mobile-menu ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        list-style-type: none;
        height: 30px;
        border: 1px solid #171A5B;
        margin-bottom: 5%;
        cursor: pointer;
    }
    .mobile-menu ul li:hover{
        color: white;
        background-color: #171A5B;
    }
    
     .open{
        /* display: block; */
        transform: translateY(0);
    }
    .menu-button{
        display: block;
        height: 40px;
        width: 40px;
        margin-top: 1.5%;
        margin-left: 2%;
        border: none;
        background-color: white;
        background-image: url(pics/icons8-menu.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        padding: 10px;
    }
    .menu-button:hover{
        border: 1px solid #171A5B;
    }
    .mobile-menu .close-menu{
        display: block;
        /* flex: 1 1 100%; */
        height: 40px;
        width: 40px;
        background-image: url("pics/cross-svgrepo-com.svg");
        background-repeat: no-repeat;
        background-color: white;
        border: none;
        background-size: 100%;
        cursor: pointer;
        margin-left: 2%;
        margin-top: 2%;
    }
    .mobile-menu .close-menu:hover{
        border: 1px solid #171A5B;
    }
    header{
        flex: 1 1 100%;
        width: 100%;
        /* margin: 2%; */
    }
    header button {
        display: none;
    }
    header .search{
        flex: 1 1 90%;
        margin-left: 0;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    header svg {
        flex: 1 1 80%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-left: 2%;
    }

    footer .left-foot {
        flex: 1 1 50%;
    }

    footer .right-foot {
        flex: 1 1 30%;
        flex-flow: column wrap;
        height: 100%;
    }

    footer .left-foot img:nth-child(3) {
        margin-left: 5%;
    }

    footer .left-foot p:nth-child(6) {
        margin-top: 10%;
    }

    footer .left-foot img:nth-child(4) {
        margin-right: 5%;
    }

    footer .left-foot button {
        width: 150px;
        font-size: 16px;
        margin-bottom: 0;
        display: inline;
        margin-left: 15%;
        margin-top: 10%;
    }

    footer svg {
        width: 90%;
    }
}
/* for tablets */
@media (min-width:481px) and (max-width:1000px){
    header{
        flex-flow: row wrap;
        margin: 1%;
        flex: 1 1 100%;
        width: 100%;
    }
    header .profile,header .cart{
        display: none;
    }
    header svg{
        flex: 1 1 0%;
        width: 90%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-left: 1%;
    }
    header .search{
        flex: 1 1 100%;
        width: 100%;
        margin-left: 0;
        margin-bottom: 2%       ;
    }
    menu{
        /* display: flex;
        flex-flow: row wrap;
        flex: 1 1 100%;
        width: 100%;
        margin-right: 3%; */
        display: none;
    }
    menu button{
        display: block;
        margin-right: 1%;
        margin-left: 0;
    }
    .mobile-menu{
        display: flex;
        flex-flow: column wrap;
        position: fixed;
        top: 0;
        left: 0; 
        width: 250px;
        height: 100%; 
        background-color: white;
        overflow-x: hidden;
        transition: 0.3s ease-in-out; 
        padding: 0;
        text-align: left;
        transform: translateY(-100%);
    }
    .mobile-menu ul{
        display: flex;
        flex-flow: row wrap;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 15%;
    }
    .mobile-menu ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        list-style-type: none;
        height: 30px;
        border: 1px solid #171A5B;
        margin-bottom: 5%;
        cursor: pointer;
    }
    .mobile-menu ul li:hover{
        color: white;
        background-color: #171A5B;
    }
    
     .open{
        /* display: block; */
        transform: translateY(0);
    }
    .menu-button{
        display: block;
        height: 40px;
        width: 40px;
        margin-top: 1.5%;
        margin-left: 2%;
        border: none;
        background-color: white;
        background-image: url(pics/icons8-menu.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        padding: 10px;

    }
    .menu-button:hover{
        border: 1px solid #171A5B;
    }
    .mobile-menu .close-menu{
        display: block;
        /* flex: 1 1 100%; */
        height: 40px;
        width: 40px;
        background-image: url("pics/cross-svgrepo-com.svg");
        background-repeat: no-repeat;
        background-color: white;
        border: none;
        background-size: 100%;
        cursor: pointer;
        margin-left: 2%;
        margin-top: 2%;
    }
    .mobile-menu .close-menu:hover{
        border: 1px solid #171A5B;
    }      
    footer .left-foot button{
        width: 200px;
        margin-left: 2%;
    }
    footer svg{
        width: 80%;
    }
}