.container{
    flex-flow: column wrap;
}
header{
    flex: 1 1 100%;
    /* border: 1px solid; */
    flex-flow: column wrap;
    width: 100%;
}
header .logo{
    /* flex: 1 1 20%; */
    order: 1;
}
header .profile{
    order: 2;
    /* flex: 1 1 20%; */
}
header .cart{
    order: 3;
    /* flex: 1 1 20%; */
}
header form{
    border: 1px solid;
    order: 4;
    /* flex: 1 1 20%; */
}
menu{
    display: none;
}
.galery{
    flex: 1 1 100%;
    width: 100%;
    display: none;
}
.equipment-page{
    flex: 1 1 100%;
    width: 100%;
    margin-top: 2%;
}
