/* specified styles for equipment page */
menu .shoe{
    background-color:#F5F5F5;
    height: 40px;
    width: 33%;
    border-radius: 5px;
    border: 1px solid #171A5B;
    cursor: pointer;
}
menu .wear{
    background-color: #F5F5F5;
    height: 40px;
    width: 33%;
    margin-left: -1.2%;
    border: 1px solid #171A5B;
    border-radius: 5px;
    cursor: pointer;
}
menu .equip{
    background-color: #171A5B;
    height: 40px;
    width: 33%;
    border-radius: 5px;
    border: 1px solid #171A5B;
    cursor: pointer;
    color: white;
}